html, body, .App, #root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  background: center center no-repeat url('/images/logo.svg');
  width: 100%;
  height: 100%;
}

.ui {
  z-index: 4;
  position: absolute;
  top: 0;
}